<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Quiz</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script> 
	</head>
<body>

 <!-- create navigation bar ( header) -->
 <nav class="navbar navbar-expand-sm  ">
		<div class="container-fluid">
			<a class="navbar-brand" href="javascript:void(0)"><img
				th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					
				</ul>
				 <a class="nav-link btn btn-outline-secondary m-2 text-warning rounded-pill"
						th:href="@{/admin/AdminPortal}">Back to Admin Portal</a>
				 
			</div>
		</div>
		</nav>



    <div class="container">
        <h1 class="text-center mt-5">Add Quiz</h1>
        <form action="#" th:action="@{/admin/add-quiz}" th:object="${quiz}" method="post" class="mt-5">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name" th:field="*{quizName}"/>
            </div>
            <table class="table">
                <thead>
                    <tr>
						<th>S.No</th>
						<th>Select</th>
						<th>Question</th>
						<th>Subject</th>
						<th>Marks Allocated</th>

					</tr>
                </thead>
				<tbody>
					<tr th:each="question,i : ${questions}">
						<td th:text="${i.count}"></td>
						<td><input type="checkbox" name="questions" th:field"*{questions}" th:value="${question.qid}" /></td>
						<td th:text="${question.qname}"></td>
						<td th:text="${question.subject}"></td>
						<td th:text="${question.weightage}"></td>
					</tr>
				</tbody>
			</table>
            <button type="submit" class="btn btn-primary rounded-pill">Submit</button>
        </form>
    </div>
</body>
</html>
