<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<meta charset="ISO-8859-1">
<title>Question</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script> 
</head>
<body>

 <!-- create navigation bar ( header) -->
 <nav class="navbar navbar-expand-sm  ">
		<div class="container-fluid">
			<a class="navbar-brand" href="javascript:void(0)"><img
				th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					
				</ul>
				 <a class="nav-link btn btn-outline-secondary m-2 text-warning rounded-pill"
						th:href="@{/admin/AdminPortal}">Back to Admin Portal</a>
				 
			</div>
		</div>
	</nav>

<br>
<br>

 <div class="container">
  <div class="row">
    <div class = "col-3 m-3 "></div>
  
   <div class="col-md-6 col-md-offset-3">   
   
    <!-- success message -->
    <div th:if="${param.success}">
     <div class="alert alert-info">Question added Sucessfully!!</div>
    </div> 
     

    <h1>Add Question</h1>


    <form th:action="@{/admin/SaveQuestion}" method="post" th:object="${Questions}">
    
     <div class="form-group">
				<label for="exampleFormControlSelect1">Subject</label>
				<select class="form-control" th:field="*{subjectId}">
				
			  <option th:each="subject : ${Subjects}" th:value="${subject.sId}" th:text="${subject.subjectName}"></option>
				</select> 
			</div>       
			
			
     <div class="form-group">
      <label class="control-label" for="qname"> Question</label>
      <textarea rows="3" id="qname" class="form-control" th:field="*{qname}"
       required autofocus="autofocus" /></textarea>
     </div>

     <div class="form-group">
      <label class="control-label" for="option1"> option1 </label> <input
       id="option1" class="form-control" th:field="*{option1}"
       required autofocus="autofocus" />
     </div>
     
     <div class="form-group">
      <label class="control-label" for="option2"> option2 </label> <input
        id="option2" class="form-control" th:field="*{option2}" required
       autofocus="autofocus" />
     </div>
     
     <div class="form-group">
      <label class="control-label" for="option3"> option3 </label> <input
        id="option3" class="form-control" th:field="*{option3}" required
       autofocus="autofocus" />
     </div>
     
     <div class="form-group">
      <label class="control-label" for="option4"> option4 </label> <input
        id="option4" class="form-control" th:field="*{option4}" required
       autofocus="autofocus" />
     </div>
         
     <div class="form-group">
      <label class="control-label" for="correctAns"> correctAns </label> <input
       id="correctAns" class="form-control" th:field="*{correctAns}" required
       autofocus="autofocus" />
     </div>
     
          <div class="form-group">
				<label for="exampleFormControlSelect1">difficulty</label>
				<select class="form-control" th:field="*{difficulty}">
					<option value="easy">easy</option>
					<option value="medium">medium</option>
					<option value="hard">hard</option>
					
				</select> 
			</div>       
     
 

     <div class="form-group">
      <label class="control-label" for=" weightage "> weightage </label> <input
       id=" weightage " class="form-control"
       th:field="*{weightage}" required autofocus="autofocus" />
     </div>
     


     <div class="form-group m-2">
      <button type="submit" class="btn btn-success rounded-pill">Add Question</button>
     </div>
    </form>
   </div>
  </div>
 </div>
</body>
</html>