<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
</head>
<body>

	<!-- create navigation bar ( header) -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-4 p-3">
                   <img th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></div>
				<div class="col-4">
				</div>
				
				<div  class="col-4 p-3 d-flex justify-content-end">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill"
						th:href="@{/admin/AdminPortal}">Go Back to Admin Portal</a>
					</div>
					
					
				</div>
			</div>



<div class="container">
  <h2 class="text-center my-3">Add Subject</h2>
  <form th:action="@{/admin/saveSubject}" th:object="${subject}" method="post">
    <div class="form-group">
      <label for="subjectName">Subject Name</label>
      <input type="text" class="form-control" id="subjectName" th:field="*{subjectName}" required/>
    </div>
   
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" rows="5" id="description" th:field="*{descrption}" ></textarea>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-primary">Add Subject</button>
    </div>
  </form>
</div>

</body>
</html>