<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>AdminPortal</title>
   <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
	
	<style>
        /* Sticky footer styles */
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin-bottom: 60px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>


 

	<!-- create navigation bar ( header) -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-4 p-3">
					    <a class="navbar-brand" href="#">Admin Portal</a>
				</div>
				<div class="col-4">
				</div>
				
				<div  class="col-4 p-3 d-flex justify-content-end">
				<a class="nav-link btn btn-outline-secondary m-2  float-right rounded-pill"
						th:href="@{/logout}">
					Logout</a>
					</div>
					
					
				</div>
			</div>
			
<div class="alert alert-success text-center" role="alert" th:if="${session.username}">Welcome <span th:utext="${session.username}"></span>!</div>

			
			

    <div class="container">
     <div class="text-center">
        <img th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}" class="img-fluid" alt="Brand Logo">
     </div>
	<div class="row">
     <div class="col-4">
        <div class="card">
            <div class="card-header">
                Users
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a class="btn btn-outline-light m-2 text-dark" th:href="@{/admin/ViewAllStudents}">View Students</a>
                </li>
                <li class="list-group-item">
                    <a class="btn btn-outline-light m-2 text-dark" th:href="@{/showUserRegistrationForm}">Add Student</a>
                </li>
            </ul>
        </div>
    </div>
    
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Exam/Subjects
            </div>
            <ul class="list-group list-group-flush">
                
                <li class="list-group-item">
                    <a class="btn btn-outline-light m-2 text-dark" th:href="@{/admin/subject/add}">Add Subject</a>
                </li>
                
                 <li class="list-group-item">
                    <a class="btn btn-outline-light m-2 text-dark" th:href="@{/admin/Quiz/add}">Add Quiz</a>
                </li>
                
                  <li class="list-group-item">
                    <a class="btn btn-outline-light m-2 text-dark" th:href="@{/admin/ShowAddQuestionForm}">Add Question</a>
                </li>
            </ul>
        </div>
    </div>
   <div class="col-4">
        <div class="card">
            <div class="card-header">
                View
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item ">
                    <a class="btn btn-outline-light m-2 text-dark"  th:href="@{/admin/allSubmittedQuizes}">All Submissions</a>
                </li>
                
                <li class="list-group-item">
                    <a class="btn btn-outline-light m-2 text-dark" th:href="@{/admin/viewAllSubjectsAndQuizes}">View Subjects and Quizes</a>
                </li>
                
                <li class="list-group-item">
                       <a href="#" class="btn btn-outline-light m-2 text-dark"  data-bs-toggle="modal" data-bs-target="#myModal">view Questions</a>
                    
                </li>
            </ul>
        </div>
    </div>
    </div>
</div>

<!-- The Modal to show Questions based on subject-->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select the Subject</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Subjects available..
         <div class="list-group">
    <a th:each="subject : ${subjectList}"
       th:href="@{/admin/test/viewQuestions/{id}(id=${subject.sId})}"
       class="list-group-item list-group-item-action"
       th:text="${subject.subjectName}"></a>
  </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
     

				
				 <footer class="footer">
        <div class="container">
            <p class="text-center">"The best online exam platform is one that is intuitive, easy to use, and provides a seamless experience for both students and educators."</p>
        </div>
    </footer>
</body>
</html>