<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
	    <title>Questions List</title>
</head>
<body>

	<!-- create navigation bar ( header) -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-4 p-3">
                   <img th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></div>
				<div class="col-4 p-3">
				  <a class="btn btn-info m-2 rounded-pill " th:href="@{/admin/ShowAddQuestionForm}">Add Question</a>
				
				</div>
				
				<div  class="col-4 p-3 d-flex justify-content-end">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill"
						th:href="@{/admin/AdminPortal}">Go Back to Admin Portal</a>
					</div>
					
					
				</div>
			</div>
			
			
	

<div class="container">
    <h1 class="text-center my-5">questions List</h1>

      <table class="table table-responsive">
        <thead>
				<tr>
					<th>S.no</th>
					<th>Question Id</th>
					<th>Question</th>
					<th>option 1</th>
					<th>option 2</th>
					<th>option 3</th>
					<th>option 4</th>
					<th>correct answer</th>
					<th>Level</th>
					<th>weightage</th>

					<th>Actions</th>
				</tr>
			</thead>
        <tbody>
                <tr class="row-lg" th:each="question, i : ${questions}">
                <td th:text="${i.count}"></td>
                <td th:text="${question.qid}"></td>
                <td class="col-lg-6" th:text="${question.qname}"></td>
                <td th:text="${question.option1}"></td>
                <td th:text="${question.option2}"></td>
                <td th:text="${question.option3}"></td>
                <td th:text="${question.option4}"></td>
                <td th:text="${question.correctAns}"></td>
                <td th:text="${question.difficulty}"></td>
                <td th:text="${question.weightage}"></td>

                <td>
                <a class="nav-link btn btn-outline-danger m-2 text-warning float-right rounded-pill"
						th:href="@{/admin/question/delete(id=${question.qid})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>
