<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Quiz</h1>
        <form method="post" th:action="@{/test/submitQuiz}" th:object="${qForm}">
            <div class="ques-box  text-dark" th:each="question, i : ${questions}">
                <div>
                   <span class="title" th:text=${i.count}></span> ) <span class="title" th:text="${question.qname}"></span>
                </div>
                
                
                 <div class="option">
                        <input type="radio" th:name="|questions[${i.index}].choosenAns|" th:value="${question.option1}" />
                        <label th:text="${question.option1}"></label>
                    </div>
                     <div class="option">
                        <input type="radio" th:name="|questions[${i.index}].choosenAns|" th:value="${question.option2}" />
                        <label th:text="${question.option2}"></label>
                    </div>
                     <div class="option">
                        <input type="radio" th:name="|questions[${i.index}].choosenAns|" th:value="${question.option3}" />
                        <label th:text="${question.option3}"></label>
                    </div>
                     <div>
                        <input type="radio" th:name="|questions[${i.index}].choosenAns|" th:value="${question.option4}" />
                        <label th:text="${question.option4}"></label>
                    </div> 
                                   
                
                	<input type="hidden" th:name="|questions[${i.index}].correctAns|" th:value="${question.correctAns}" />
                	<input type="hidden" th:name="|questions[${i.index}].weightage|" th:value="${question.weightage}" />
                	<input type="hidden" th:name="|questions[${i.index}].subject|" th:value="${question.subject}" />
                	
             
               <br>
            </div><br>
            
            <div>
                <input type="submit" value="Submit Quiz" class="btn btn-primary " />
                
            </div>
        </form>
    </div>
</body>
</html>
