<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Exam Results</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
	crossorigin="anonymous">
</head>
<body>


<div class="container-fluid">
			<div class="row">
				<div class="col-4 p-3">
        <img th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}" class="img-fluid" alt="Brand Logo">
				</div>
				<div class="col-4">
				</div>
				
				<div  class="col-4 p-3 d-flex justify-content-end">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill" 
						th:href="@{/logout}">
					Logout</a>
					</div>
					
					
				</div>
			</div>


	<div class="container">
		<h1 class="text-center">Exam Results</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Student Id</th>
                    <th>Student Name</th>
					<th>Quiz</th>
					<th>Marks Obtained</th>
					<th>Total Marks</th>
				   <th>Exam Date</th>
					
				</tr>
			</thead>
			<tbody>
				<tr>
					<td th:text="${result.studentId}"></td>
					<td th:text="${result.studentName}"></td>
					<td th:text="${result.quizName}"></td>
					<td th:text="${result.marksObtained}"></td>
					<td th:text="${result.totalMarks}"></td>
					<td th:text="${result.dateOfExam}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
