<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Student portal</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script> 
	
	<style>
        /* Sticky footer styles */
        html {
            position: relative;
            min-height: 100%;
        }
        body {
            margin-bottom: 60px;
        }
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            line-height: 60px;
            background-color: #f5f5f5;
        }
    </style>
	
</head>
<body>
	<!-- create navigation bar ( header) -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-4 p-3">
					    <a class="navbar-brand" href="#">Student Portal</a>
				</div>
				<div class="col-4 mt-2 ">
				 <div class="text-center">
        <img th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}" class="img-fluid" alt="Brand Logo">
     </div>
				</div>
				
				<div  class="col-4 p-3 d-flex justify-content-end">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill"  style="width:130px"
						th:href="@{/logout}">
					Logout</a>
					</div>
				</div>
			</div>
			

<div class="container-fluid">
<div class="row">
<div class="col-4">
<div class="container-fluid">
  <div class="card" style="width:400px">
    <img class="card-img-top" th:src="@{https://w7.pngwing.com/pngs/334/403/png-transparent-student-cartoon-avatar-college-student-avatar-comics-face-heroes.png}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title" th:utext="${session.username}"></h4>
       <p class="card-text"> Id: <span th:utext="${session.userdetails.userId}"></span><br>
                             Email: <span th:utext="${session.userdetails.email}"></span><br>
                             Dob: <span th:utext="${session.userdetails.dob}"></span>
       </p>
      <a th:href="@{/student/getStudentPermormances}" class="btn btn-primary rounded-pill" style="width:130px">Performance</a>
    </div>
  </div>
  <br>
  </div>
  
  </div>
  <div class="col-2"></div>
  <div class="col">
  
  <div class="container-fluid">
  <div class="card" style="width:400px">
    <img class="card-img-top" th:src="@{https://img.freepik.com/premium-vector/quiz-logo-with-speech-bubble-symbols-concept-questionnaire-show-sing-quiz-button-question-competition-exam-interview-modern-emblem_180786-72.jpg?w=2000}" alt="Card image" style="width:100%">
    <div class="card-body">
      <h4 class="card-title">Quiz</h4>
   <a href="#" class="btn btn-primary rounded-pill" style="width:130px" data-bs-toggle="modal" data-bs-target="#myModal">Start Exam</a>
    </div>
  </div>
  <br>
  </div>
       </div>
  
</div>
</div>

<!-- The Modal to take quiz-->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Select the Quiz</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Quizes available..
         <div class="list-group">
    <a th:each="quiz : ${quizesList}"
       th:href="@{/test/start/{id}(id=${quiz.quizId})}"
       class="list-group-item list-group-item-action"
       th:text="${quiz.quizName}"></a>
  </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

		
				 <footer class="footer">
        <div class="container">
            <p class="text-center">"The best online exam platform is one that is intuitive, easy to use, and provides a seamless experience for both students and educators."</p>
        </div>
    </footer>
</body>
</html>