<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
	    <title>Student performance</title>
</head>
<body>

	<!-- create navigation bar ( header) -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-4 p-3">
                   <img th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></div>
				<div class="col-4">
				</div>
				
				<div  class="col-4 p-3 d-flex justify-content-end" th:if="${session.role == 'STUDENT'}">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill"
						th:href="@{/student/StudentPortal}">Go Back to Student Portal</a>
					</div>
					
					<div  class="col-4 p-3 d-flex justify-content-end" th:if="${session.role == 'ADMIN'}">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill"
						th:href="@{/admin/AdminPortal}">Go Back to Admin Portal</a>
					</div>
					
					
					
				</div>
			</div>
	

<div class="container">
    <h1 class="text-center my-5"> Performances</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Student Id</th>
                 <th>Student Name</th>
                <th>Quiz name</th>
                <th>Date of exam</th>
                <th>Marks </th>
                <th>Total marks</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="result : ${studentResults}">
                <td th:text="${result.studentId}"></td>
 				<td th:text="${result.studentName}"></td>
                <td th:text="${result.quizName}"></td>
                <td th:text="${result.dateOfExam}"></td>
                <td th:text="${result.marksObtained}"></td>
                <td th:text="${result.totalMarks}"></td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>
