<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
	    <title>Student List</title>
</head>
<body>

	<!-- create navigation bar ( header) -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-4 p-3">
                   <img th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></div>
				<div class="col-4">
				</div>
				
				<div  class="col-4 p-3 d-flex justify-content-end">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill"
						th:href="@{/admin/AdminPortal}">Go Back to Admin Portal</a>
					</div>
					
					
				</div>
			</div>
	

<div class="container">
    <h1 class="text-center my-5">Student List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th th:colspan=2>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="student : ${students}">
                <td th:text="${student.userId}"></td>
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.email}"></td>
                <td>
                <a class="nav-link btn btn-outline-danger m-2 text-warning float-right rounded-pill"
						th:href="@{student/delete(id=${student.userId})}">Delete</a>
						
						<a class="nav-link btn btn-outline-success m-2 text-warning float-right rounded-pill"
						th:href="@{student/performance(id=${student.userId})}">quizResults</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>

</body>
</html>
