<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
	    <title>Subject List</title>
</head>
<body>

	<!-- create navigation bar ( header) -->

		<div class="container-fluid">
			<div class="row">
				<div class="col-4 p-3">
                   <img th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></div>
				<div class="col-4">
				</div>
				
				<div  class="col-4 p-3 d-flex justify-content-end">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill"
						th:href="@{/admin/AdminPortal}">Go Back to Admin Portal</a>
					</div>
					
					
				</div>
			</div>
	

<div class="container">

<!--                     <a class="btn btn-outline-light m-2 text-warning" th:href="@{/admin/subject/add}">Add Subject</a>
 -->
    <h1 class="text-center my-5">Subject List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Subject Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="subject : ${subjects}">
                <td th:text="${subject.sId}"></td>
                <td th:text="${subject.subjectName}"></td>
                <td th:text="${subject.descrption}"></td>
                <td>
                    <form th:action="@{/admin/subject/delete(id=${subject.sId})}" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger rounded-pill">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</div>

<!-- --------quizes part -->

<div class="container">

    <h1 class="text-center my-5">Quizes List</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Quiz Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="quiz : ${quizes}">
                <td th:text="${quiz.quizId}"></td>
                <td th:text="${quiz.quizName}"></td>
                <td>
                    <form th:action="@{/admin/quiz/delete(id=${quiz.quizId})}" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger rounded-pill">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>

</div>


</body>
</html>
