<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> Login Page</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script> 
	
	 
</head>
<body>
 <!-- create navigation bar ( header) -->

<nav class="navbar navbar-expand-sm  ">
		<div class="container-fluid">
			<a class="navbar-brand" href="javascript:void(0)"><img
				th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					
				</ul>
				<a class="nav-link btn btn-outline-secondary m-2 text-warning rounded-pill"
						th:href="@{/}">Back to Home Page</a>
			</div>
		</div>
	</nav>


 <br>
 <br>
 <div class = "container">
  <div class = "row">
  <div class = "col-3 m-3 "></div>
   <div class = "col-md-6 col-md-offset-3">
    
    <h1> User Login Page </h1>
    <form th:action="@{/loginUser}" method="post" th:object="${User}">
    
   
     
     <!-- error message -->
     <div th:if="${param.invalidUserError}">
      <div class="alert alert-danger">Invalid username or
       password.</div>
     </div>
     
     <!-- error message -->
     <div th:if="${param.roleError}">
      <div class="alert alert-danger">Invalid role</div>
     </div>
    
     <!-- logout message -->
     <div th:if="${param.logout}">
      <div class="alert alert-info">You have been logged out.</div>
     </div>
     
    <div class="form-group">
      <label class="control-label" for="email"> Email </label> <input
       id="email" name="email" class="form-control" th:field="*{email}" required
        />
     </div>
     
     
     <div class="form-group">
      <label class="control-label" for="password"> Password </label> <input
       id="password" name="password" class="form-control" type="password"
       th:field="*{Password}" required  />
     </div> 
         
     <div class="form-group m-2">
      <button type="submit" class="btn btn-success rounded-pill">Submit</button>
      
        <span>New user? <a href="/" th:href="@{/showUserRegistrationForm}">Register here</a></span>   
        </div>
    </form>
    
   </div>
  </div>
 </div>
</body>
</html>