<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script> 
</head>
<body>

 <!-- create navigation bar ( header) -->
 <nav class="navbar navbar-expand-sm  ">
		<div class="container-fluid">
			<a class="navbar-brand" href="javascript:void(0)"><img
				th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					
				</ul>
				<div th:if="${session.AdminLogin}"><a class="nav-link btn btn-outline-secondary m-2 text-warning float-right rounded-pill"
						th:href="@{/admin/AdminPortal}">Go Back to Admin Portal</a></div>
				
				<a class="nav-link btn btn-outline-secondary m-2 text-warning rounded-pill"
						th:href="@{/}">Back to Home Page</a>
				
			</div>
		</div>
	</nav>

<br>
<br>
 <!-- Create HTML registration form -->
 <div class="container">
  <div class="row">
    <div class = "col-3 m-3 "></div>
  
   <div class="col-md-6 col-md-offset-3">
   
     <!-- success message -->
    <div th:if="${param.success}">
     <div class="alert alert-info"> successfully registered
      to our awesome app!</div>
    </div>

   
    
     <!-- error message -->
    <div th:if="${param.error}">
     <div class="alert alert-danger">User details already exists</div>
    </div>

    <h1>Registration</h1>


    <form th:action="@{/SaveUser}" method="post" th:object="${User}">
     <div class="form-group">
      <label class="control-label" for="firstName"> First Name </label>
      <input id="firstName" class="form-control" th:field="*{firstName}"
       required autofocus="autofocus" />
     </div>

     <div class="form-group">
      <label class="control-label" for="lastName"> Last Name </label> <input
       id="lastName" class="form-control" th:field="*{lastName}"
       required autofocus="autofocus" />
     </div>
     
     <div class="form-group">
      <label class="control-label" for="dob"> DOB </label> <input
       type="date" id="dob" class="form-control" th:field="*{dob}" required
       autofocus="autofocus" />
     </div>
         
     <div class="form-group">
      <label class="control-label" for="email"> Email </label> <input
       id="email" class="form-control" th:field="*{email}" required
       autofocus="autofocus" />
     </div>
     
     

     <div class="form-group">
      <label class="control-label" for="password"> Password </label> <input
       id="password" class="form-control" type="password"
       th:field="*{Password}" required autofocus="autofocus" />
     </div>
     
     <div class="form-group">
				<label for="exampleFormControlSelect1">Role</label>
				<select class="form-control" th:field="*{roleId}">
					<option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.roleName}"></option>
				</select> 
			</div>  
			
<!--  			<input type="hidden"  id="Roleid" class="form-control" th:field="*{roleId}" th:value=1 />
 -->			

     <div class="form-group m-2">
      <button type="submit" class="btn btn-success">Register</button>
      
      <span>Already registered? <a th:href="@{showUserLoginForm}">Login
        here</a></span>
     </div>
    </form>
   </div>
  </div>
 </div>
</body>
</html>