<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Exam Platform Welcome page</title>
<!-- Bootstrap -->

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
</head>
<body>

	<nav class="navbar navbar-expand-sm  ">
		<div class="container-fluid">
			<a class="navbar-brand" href="javascript:void(0)"><img
				th:src="@{https://examonline.in/wp-content/uploads/2021/11/logo-1.png}"></a>
			<button class="navbar-toggler" type="button"
				data-bs-toggle="collapse" data-bs-target="#mynavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mynavbar">
				<ul class="navbar-nav me-auto">
					<li class="nav-item   m-2 "></li>
					<li class="nav-item  m-2"></li>
					<li class="nav-item  m-2"></li>
				</ul>
				<form class="d-flex">
				<a class="nav-link btn btn-outline-secondary m-2 text-warning rounded-pill"
						th:href="@{showUserLoginForm}">Login</a>
				<a class="nav-link btn btn-outline-secondary m-2 text-warning rounded-pill"
						th:href="@{showUserRegistrationForm}">Register</a>
									</form>
			</div>
		</div>
	</nav>

	<div class="container-fluid">
	<h1 class="text-success m-3 p-3 mb-0 pb-0">Deliver Your Exams Online, with
			EXAMONLINE</h1>
		<p class="text-info m-5 p-5 mt-0 pt-0">Easy to use, powerful admin
			tools and completely secure.</p>
	</div>
		

	

</body>
</html>